<!DOCTYPE html>

<html>

<title>Industry 4.0</title>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<body>

    <div class="bgimg">

        <div class="w3-display-middle w3-jumbo">
            <br>
            <br>

            <p>Industry 4.0</p>

        </div>

        

<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h1>Industry 4.0 workbench!</h1>
   <!--     <form class="clearfix mb-4" action="POST">
          <div class="form-group">
            <label for="process-name">Add Process</label>
            <input type="text" id="process-name" class="form-control" aria-describedby="process-name" placeholder="Enter Process Name">
          </div>
          <div class="form-group">
            <label for="process-description">Process Description</label>
            <textarea class="form-control" id="process-description" aria-describedby="process-description" placeholder="Enter Process Description"></textarea>
          </div>
          <button id="submit" class="btn btn-primary float-right">Submit</button>
        </form>-->
       <form class="clearfix mb-4" action="/addprocess">
            <br>
            <br>
            <br>
            <br>
            <button id="add-new-process" class="btn btn-primary float-right">Add New Process</button>
        </form>
        <br>
        <h2>Choose a process to monitor:</h2>
        <ul id="process-list" class="list-group">
          {{#each process}}
            <li data-id="{{this.id}}" class="list-group-item">
            <a href="process/{{this.id}}">{{this.Process_name}}</a>
            <button class="btn btn-danger float-right delete">delete</button>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

 <div class="w3-display-bottomleft w3-container">

            

            <p>powered by <a href="Tecnologico de Monterrey" target="_blank">Tecnologico de Monterrey</a></p>

        </div>
        <!-- Navbar (sit on top) -->
<div class="w3-top">

  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button"></a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#about" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<!-- About Section -->
{{!--   <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-blue w3-padding-16">About</h3>
    <p><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
      laboris nisi ut aliquip ex ea commodo consequat.
    </b></p>
  </div> --}}
  </div>
 

  
  
 
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>



