a {
    /* text-decoration: none !important; */
    color: #424242 !important;
}

a:hover {
    text-decoration: none !important;
}

body,
html {
    width: 100%;
    height: 100%;
}

.bgimg {
    background-image: url('https://danielpvk.github.io/Industry4_0/public/images/industry-2.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

element.style {
    text-decoration: none;
}

.list-group-item {
    line-height: 2.5;
}

#w3-col m6 w3-padding-large {
    color: #424242;
}

#w3-center {
    color: #424242
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-style:black;
    letter-spacing: 5px;
    color: #003333;
}
h2  {
    font-family: 'Kanit', sans-serif;
    font-style:black;
    letter-spacing: 5px;
    color: #003333;
}
h3 {
    font-family: 'Kanit', sans-serif;
    font-style:black;
    letter-spacing: 5px;
    color: #003333;
}
h4
{
    font-family: 'Kanit', sans-serif;
    font-style:black;
    letter-spacing: 5px;
    color: #003333;
}
h5
{
    font-family: 'Kanit', sans-serif;
    font-style:black;
    letter-spacing: 5px;
    color: #003333;
}
h6
{
    font-family: 'Kanit', sans-serif;
    font-style:black;
    letter-spacing: 5px;
    color: #003333;
}
p {
    font-family: 'Monda', sans-serif;
    font-style:black;
    letter-spacing: 5px;
    color: #003333;
}

.detras {
    background-color: aqua;
    min-height: 100%;
    background-position: center;
    background-size: cover;

}

